


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .header{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);

        .filter{
            min-width: 300px;
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 40px;

            .features{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-right: auto;

                >a{
                    color: var(--blue);
                    transition: all .15s ease;
                    white-space: nowrap;

                    &:hover{
                        color: var(--blue-hover);
                    }
                }
            }
        }

        .button{
            width: 220px;
            max-width: 100%;
        }
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .tutorsCount{
            white-space: nowrap;
        }

        .searchItems{
            width: 600px;
            max-width: 100%;
        }
    }

    .table{
        border-collapse: collapse;

        .item{
            border-bottom: 1px solid var(--black);
            th{
                text-align: start;
                padding: 16px 6px;
            }
        }
    }

    .items{
        display: none;
    }
}


@media (max-width: 950px) {
    .container{
        .header{
            flex-direction: column-reverse;
            align-items: start;
            gap: 20px;

            .right{
                justify-content: space-between;
                width: 100%;
            }
        }

        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }

        .table{
            display: none;
        }

        .items{
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 1px solid var(--gray);
            padding-top: 20px;

            .button{
                width: 240px;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 650px) {
    .container{
        .header{
            .filter{
                width: 100%;
                min-width: auto;
            }

            .right{
                flex-direction: column;
                align-items: start;
                gap: 20px;
            }
        }

        .search{
            .searchItems{
                width: 100%;
            }
        }
    }
}
