


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .header{
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);
        
        .button{
            width: 220px;
            max-width: 100%;
            margin-left: auto;
        }
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .tutorsCount{
            white-space: nowrap;
        }

        .searchItems{
            width: 600px;
            max-width: 100%;
        }
    }

    .table{
        border-collapse: collapse;
        
        .item{
            border-bottom: 1px solid var(--black);
            th{
                text-align: start;
                padding: 16px 6px;
            }
        }
    }

    .items{
        display: none;
    }
}


@media (max-width: 950px) {
    .container{
        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }

        .table{
            display: none;
        }
        
        .items{
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 1px solid var(--gray);
            padding-top: 20px;

            .button{
                width: 240px;
                max-width: 100%;
            }
        }
    }
}
