


.wrapTable{
    overflow: auto;
    height: 360px;

    .table{
        border-collapse: collapse;
        width: 100%;
        text-align: start;
    
        .item{
            border-bottom: 1px solid var(--black);
            th{
                text-align: start;
                padding: 16px 6px;
            }
        }
    
        .features{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 40px;
        }
    }
}



@media (max-width: 650px) {
    .wrapTable{
        display: none;
    }
}