

.nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 18px;
}

@media (max-width: 550px) {
    .nav{
        grid-template-columns: repeat(1, 1fr);
    }
}