.container {
    min-height: 510px;
    
    &.isOpen{
        min-height: 0;
    }

    .title{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .loader{
        margin-top: 40px;
        margin-left: 40px;
    }

    .count {
        margin-top: 20px;
        text-align: start;
    }

    .content {
        height: 480px;
        overflow: hidden;
        margin-top: 20px;
    }

    .wrapTable{
        overflow: auto;
        height: 360px;
        margin-top: 20px;
    }
}