

.container {
    min-height: 510px;
    
    &.isOpen{
        min-height: 0;
    }

    .title{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        height: 480px;
        overflow: hidden;
    }
}