

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 380px;

    .highlight{
        color: var(--blue);
        transition: all .15s ease;

        &:hover{
            color: var(--blue-hover);
        }
    }

    .finance{
        display: block;
    }
    .financeMobile{
        display: none;
    }
}

@media (max-width: 1200px) {
    .card{
        display: flex;
        flex-direction: column;

        .finance{
            display: none;
        }
        .financeMobile{
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-top: 2px solid var(--black);
            margin-top: 20px;
            padding-top: 20px;

            .title{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}