

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    max-width: 100%;

    .title{
        font-size: 40px;
        text-align: center;
    }

    .button{
        margin: 8px auto 0 auto;
        width: 240px;
        max-width: 100%;
        height: 40px;
    }

    .link{
        display: flex;
        justify-content: center;
        margin-top: 12px;
        color: var(--blue);
        transition: all .15s ease;
        cursor: pointer;

        &:hover{
            color: var(--blue-hover);
        }
    }
}