


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .addStudentWrap{
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);
        
        .button{
            width: 220px;
            margin-left: auto;
        }
    }

    .searchItems{
        width: 600px;
        
    }

    .detailed{
        min-width: 260px;
        max-width: 260px;
        margin-left: auto;
    }

    .table{
        border-collapse: collapse;
        width: 100%;

        .item{
            border-bottom: 1px solid var(--black);
            th{
                text-align: start;
                padding: 16px 6px;
            }
        }
    }

}