


.wrapper{
    height: 100%;
    width: 100%;

    .button{
        border: none;
        border-radius: 8px;
        padding: 8px 16px;
        height: 100%;
        width: 100%;
        background-color: var(--blue);
        color: white;
        font-weight: 500;
        font-size: 16px;
        transition: all .25s ease;
        cursor: pointer;

        &.loader{
            background-color: var(--blue-hover);
        }
        
        .loader{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover{
            background-color: var(--blue-hover);
        }
    }

    .error{
        color: var(--red);
        font-size: 14px;
        line-height: 20px;
    }
}