


.container{
    border-top: 2px solid var(--black);
    margin-top: 20px;
    padding-top: 20px;

    .title{
        margin-bottom: 10px;
        font-weight: 500;
    }

    .dropDown{
        width: 400px;
        max-width: 100%;
    }
}