

.header{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
        
    .warnings{
        display: flex;
        gap: 20px;
    }

    .features{
        display: flex;
        align-items: center;
        gap: 20px;

        .archive{   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            cursor: pointer;
            text-align: center;
            line-height: 100%;

            >img{
                width: 32px;
            }
        }

        .edit{
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }
}

@media (max-width: 950px) {
    .header{
        flex-direction: column;
        gap: 20px;

        .warnings{
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 2px solid var(--black);
            gap: 10px;
        }

        .features{
            width: 100%;
            justify-content: space-around;
        }
    }
}

@media (max-width: 650px) {
    .header{
        align-items: start;
        .warnings{
            flex-direction: column;
        }
    }
}