

.container{
    display: flex;
    position: relative;
    align-items: center;

    >svg{
        cursor: pointer;
    }

    .copied{
        display: none;
        background-color: #d8d8d8;
        border-radius: 4px;
        font-size: 13px;
        padding: 1px 5px;

        &.open{
            display: block;
            position: absolute;
            left: 120%;
        }
    }
}