


.container{
    display: flex;
    flex-direction: column;

    .label{
        color: #4b4b4b;
        font-size: 14px;
    }

    .text{
        font-weight: 600;
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .container{
        .text{
            font-size: 16px;
        }
    }
}