.container {
    min-height: 510px;
    
    .title{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .loader{
        margin-top: 40px;
        margin-left: 40px;
    }

    .count {
        margin-top: 20px;
        text-align: start;
    }
}