

.container{
    display: flex;
    align-items: center;
    position: relative;

    >img{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .list{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 28px;
        gap: 8px;
        z-index: 9;   
        background-color: #FFF;
        padding: 30px 40px;
        border-radius: 12px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        width: 440px;

        .hint{
            display: flex;
            align-items: center;
            gap: 8px;

            .color{
                display: block;
                width: 14px;
                min-width: 14px;
                height: 14px;
                min-height: 14px;
                border-radius: 50%;
                border: 1px solid var(--black);
            }
            
            .text{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 600px) {
    .container{
        .list{
            width: 340px;
        }
    }
}

@media (max-width: 480px) {
    .container{
        .list{
            width: calc(100vw - 40px);
        }
    }
}