.item{
    border-bottom: 1px solid var(--black);
    
    td{
        padding: 16px 6px;
    }

    .feature{
        width: 260px;
    }

    .fio{
        a{
            color: var(--blue);
            transition: all .15s ease;

            &:hover{
                color: var(--blue-hover);
            }
        }
    }
}

.itemMobile{
    display: none;
}

@media (max-width: 650px) {
    .item{
        display: none;
    }
    .itemMobile{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--gray);
        
        a{
            color: var(--blue);
            transition: all .15s ease;

            &:hover{
                color: var(--blue-hover);
            }
        }
    }
}
