


.container{
    img{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}
    }
}

.change{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 20px;
}