


.link{
    width: 100%;

    display: flex;
    align-items: center;
    background-color: var(--gray-light);
    padding: 18px 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid var(--gray);
    cursor: pointer;
    transition: all .15s ease;
    text-decoration: none;

    &:hover{
        border: 1px solid var(--blue);
    }
}

@media (max-width: 550px) {
    .link{
        justify-content: center;
    }
}