
.container {
    display: inline-flex;
    align-items: center;
}

.change {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 280px;
    background-color: #FFF;
    padding: 40px;
    border-radius: 20px;
}
