

.container {
    .burger{
        cursor: pointer;
        position: fixed;
        z-index: 21;
        top: 19px;
        right: 20px;
    }
}

.sidebar{
    display: block;
    position: fixed;
    background-color: #ededed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;    
    transition: all 0.5s ease;
    z-index: 19;
    padding-top: 70px;

    &.open{
        right: 0px;    
    }
}

.darken{
    position: fixed;
    z-index: 18;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease;

    &.open{
        opacity: 1;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 360px) {
    .sidebar{
        display: none;
        position: fixed;
        width: 100%;
        right: 0;    
        transition: none;

        &.open{
            display: block;
        }
    }

    .darken{
        display: none;
    }
}