


.container{
    .delete{
        display: flex;
        justify-content: end;
    }
  
    .tutorLessons{
        border-top: 2px solid black;
        padding-top: 40px;
        margin-top: 40px;
    }

    .move{
        border-top: 2px solid black;
        padding-top: 40px;
    }
}