


.container{
    .header{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .edit{
            width: 32px;
            height: 32px;
            cursor: pointer;
        }

        .archive{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            cursor: pointer;
            text-align: center;
            line-height: 100%;

            >img{
                width: 32px;
            }
        }
    }
  
    .tutorLessons{
        border-top: 2px solid black;
        padding-top: 40px;
        margin-top: 40px;
    }

    .move{
        border-top: 2px solid black;
        padding-top: 40px;
        margin-top: 40px;
    }
}