

.wrapper{
    height: 100%;
    .title{
        margin-left: 4px;
        margin-bottom: 4px;
    }
    
    .container{
        display: flex;
        align-items: center;
        border: 1px solid black;
        transition: all .25s ease;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        .icon{
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 12px;
        }
    
        >input{
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            padding: 8px 12px;
            font-size: 16px;
        }
        
        &.focus{
            border: 1px solid var(--blue);
            box-shadow: 0 0 12px 0px var(--blue);
        }
    
        &.feature{
            >input{
                padding: 8px 32px 8px 12px;
            }
        }
    
        .feature{
            position: absolute;
            right: 8px;
            width: 16px;
        }
    
        width: 100%;
        height: 100%;
    }

    .errorText{
        color: #ff4141;
        font-size: 14px;
    }
}
