


.wrapper{

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        background-color: var(--blue-light);
        width: 100%;
        min-width: 1300px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid black;
    }
    
    .nav{
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        min-width: 1300px;
        box-shadow: 0 0 10px 5px #0000001a;

        .navWrapper{
            margin: 0 auto;
            padding: 0 20px;
            width: 1300px;
            
        }
    }

    .container{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 0 20px;
        width: 1300px;
        min-height: 100vh;
        padding-bottom: 200px;

        .main{
            width: 100%;
        }
        
    }
}