


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .header{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);

        >a{
            color: var(--blue);
            transition: all .15s ease;

            &:hover{
                color: var(--blue-hover);
            }
        }
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchItems{
            width: 600px;
        }
    }

    .detailed{
        min-width: 260px;
        max-width: 260px;
        margin-left: auto;
    }

    .table{
        border-collapse: collapse;
        width: 100%;

        .item{
            border-bottom: 1px solid var(--black);
            th{
                text-align: start;
                padding: 16px 6px;
            }
        }
    }
}