
.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 1000px;
    max-width: 100%;
    padding: 0 20px;
    margin: 80px auto;
    min-height: calc(100vh - 160px);
    justify-content: space-between;
}

@media (max-width: 550px) {
    .container{
        gap: 200px;
    }
}