

.container{

    .choose{
        margin-bottom: 20px;
    }

    .data{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;

        .section{
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-weight: 500;

            .subtitle{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
    }

}