

.container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

    .calendar{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
    }

    .selectedTgAdmins{
        width: 260px;
        max-width: 100%;
    }

    .choose{
        margin-bottom: 20px;
    }

    .data{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;

        .section{
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-weight: 500;

            .subtitle{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .container{
        flex-direction: column-reverse;
    }
}