


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .addStudentWrap{
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);
        
        .button{
            width: 220px;
            margin-left: auto;
        }
    }
}