

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .highlight{
        color: var(--blue);
        transition: all .15s ease;
    }
    .noTgID{
        color: var(--red);
    }
    a:hover{
        color: var(--blue-hover);
    }

    .button{
        width: 200px;
    }
}

@media (max-width: 850px) {
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
}