
.container{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid black;
    position: relative;
    z-index: 2;

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 480px;
        overflow: hidden;
        margin-top: 20px;
        
        .title{
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 20px;
        }
    
        .loader{
            margin-top: 40px;
            margin-left: 40px;
        }
    
        .count {
            text-align: start;
        }
    }
}

@media (max-width: 400px) {
    .container{
        .content{
            .count{
                padding-bottom: 12px;
                border-bottom: 1px solid black;
            }
        }
    }
}