

.item{
    border-bottom: 1px solid var(--black);
    
    td{
        padding: 16px 6px;
    }

    .feature{
        width: 260px;
    }

    .link{
        color: var(--black);
        transition: all .15s ease;
            
        &:hover{
            color: var(--black-hover);
        }
    }
}


.itemMobile{
    display: none;
}

@media (max-width: 650px) {
    .item{
        display: none;

    }
    .itemMobile{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--gray);

        .feature{
            margin-top: 20px;   
            width: 240px;
            max-width: 100%;         
        }
    }
}
