

.table{
    border-collapse: collapse;
    width: 100%;

    .item{
        border-bottom: 1px solid var(--black);
        th{
            text-align: start;
            padding: 16px 6px;
        }
    }
}

@media (max-width: 650px) {
    .table{
        display: none;
    }
}