


.container{
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 8px;
    padding: 4px 12px;
    color: #FFF;

    img{
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    &.newbie{
        color: var(--black);
        border: 1px solid var(--black);
    }

    &.balanceNegative{
        background-color: var(--red);
    }

    &.onlyTrial{
        background-color: var(--yellow-dark);
    }
}