

.container {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px;
    width: 770px;
    max-width: 100%;
    min-height: 200px;
    margin-top: 8px;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .items{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}