

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;

    .title{
        font-size: 40px;
        text-align: center;
    }

    .button{
        margin: 8px auto 0 auto;
        width: 240px;
        height: 40px;
    }

    p{
        margin-bottom: 12px;
    }

    .back{
        display: flex;
        justify-content: center;
        margin-top: 12px;
        color: var(--blue);
        transition: all .15s ease;
        cursor: pointer;

        &:hover{
            color: var(--blue-hover);
        }

        &.disabled{
            cursor: auto;
            color: var(--blue);
        }
    }
}