

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .buttonOpen{
        width: fit-content;

        .buttonText{
            padding: 4px 0;      
        }
    }

    .choose{
        width: 600px;
        max-width: 100%;
    }

    .button{
        width: 220px;
        max-width: 100%;
    }
}