

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .buttonOpen{
        width: fit-content;
        height: 44px;
    }

    .choose{
        width: 600px;
    }

    .button{
        width: 220px;
    }
}