

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3{
        cursor: pointer;
    }

    .choose{
        width: 600px;
    }

    .button{
        width: 220px;
    }
}