


.container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    .dropDown{
        width: 260px;
    }

    .toggle{
        display: flex;
        align-items: center;
    }
}