


.container{
    
    .tutor{
        text-align: center;
    }

    .loader{
        margin-top: 40px;
        margin-left: 40px;
    }

    .move {
        border-top: 2px solid black;
        padding-top: 20px;
        margin-top: 20px;
    }

    .move{
        position: relative;
        z-index: 9;
    }
}