


.container{
    
    .tutor{
        text-align: center;
    }

    .move, .lessons{
        border-top: 2px solid black;
        padding: 20px 0;
    }

    .lessons{
        min-height: 400px;
    }

}