


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: #FFF;
    padding: 60px 80px;
    width: 560px;
    max-width: 100%;
    border-radius: 20px;

    .loader{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .title{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .buttons{
        display: flex;
        justify-content: center;
        gap: 8px;
        width: 100%;

        button{
            border: 1px solid var(--black);
            outline: none;
            padding: 10px 70px;
            border-radius: 16px;
            cursor: pointer;
            font-weight: 600;
        }
        .no{
            background-color: var(--red);
            color: #FFF;
            transition: all .15s ease;
            
            &:hover{
                background-color: var(--red-hover);
            }
        }
        .yes{
            background-color: #FFF;
            transition: all .15s ease;

            &:hover{
                background-color: var(--gray-light);
            }
        }
    }

    &.send{
        .buttons{
            .no{
                background-color: #FFF;
                transition: all .15s ease;
                color: #000;

                &:hover{
                    background-color: var(--gray-light);
                }
            }

            .yes{
                background-color: var(--blue);
                color: #FFF;
                transition: all .15s ease;
                
                &:hover{
                    background-color: var(--blue-hover);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        gap: 40px;
        padding: 30px;

        .buttons{
            flex-direction: column;
            width: 290px;
            max-width: 100%;
        }
    }
}