


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .switchButton{
        width: 600px;
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .searchItems{
            width: 600px;
        }

        .count{
            white-space: nowrap;
        }
    }
}


@media (max-width: 950px) {
    .container{
        .header{
            flex-direction: column-reverse;
            align-items: start;
            gap: 20px;
            
            .right{
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}


@media (max-width: 650px) {
    .container{
        .header{
            .features{
                width: 100%;

                .notification{
                    margin-left: auto;
                }
            }
        }

        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .searchItems{
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .searchItems{
                width: 100%;
            }
        }
    }
}