


.container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .header{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray);

        .filter{
            min-width: 425px;
        }
        
        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 40px;

            .features{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-right: auto;
                
                >a{
                    color: var(--blue);
                    transition: all .15s ease;
                    white-space: nowrap;
        
                    &:hover{
                        color: var(--blue-hover);
                    }
                }
            }
        }

        .add{
            width: 220px;
            max-width: 100%;
        }
    }

    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .searchItems{
            width: 600px;
        }

        .count{
            white-space: nowrap;
        }
    }
}


@media (max-width: 950px) {
    .container{
        .header{
            flex-direction: column-reverse;
            align-items: start;
            gap: 20px;
            
            .right{
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}


@media (max-width: 650px) {
    .container{
        .header{
            .filter{
                width: 100%;
                min-width: none;
            }

            .right{
                flex-direction: column;
                align-items: start;
                gap: 20px;

                .features{
                    width: 100%;

                    .notification{
                        margin-left: auto;
                    }
                }
            }
        }

        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .searchItems{
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .container{
        .header{
            .filter{
                width: 100%;
                min-width: auto;
            }
        }

        .search{
            flex-direction: column;
            align-items: start;
            gap: 10px;

            .searchItems{
                width: 100%;
            }
        }
    }
}