

.container{
    position: relative;

    .title{
        padding: 12px 40px;
        border-radius: 16px;
        background-color: var(--blue);
        cursor: pointer;
        transition: all .15s ease;

        &:hover{
            background-color: var(--blue-hover);
        }
    }

    .list{
        position: absolute;
        width: 100%;
        margin-top: 10px;

        .item{
            width: 100%;
            padding: 16px 0;
            border-radius: 16px;
            border: 1px solid var(--black);
            background-color: var(--gray);
            cursor: pointer;
            transition: all .15s ease;

            &:hover{
                background-color: var(--gray-light);
            }
        }
    }

}