


.container{
    width: 100%;

    .title{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .count{
        margin-top: 20px;
        text-align: start;
    }

    .loader{
        margin-top: 40px;
        margin-left: 40px;
    }
}