
.title{
    padding: 12px 40px;
    border-radius: 16px;
    background-color: var(--blue);
    cursor: pointer;
    transition: all .15s ease;
    width: 260px;
    max-width: 100%;

    &:hover{
        background-color: var(--blue-hover);
    }
}

.content{
    background-color: #fff;
    padding: 40px 80px;
    border-radius: 20px;
    width: 500px;
    max-width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .h2{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .selectedHour{
        width: 100%;
        position: relative;
        z-index: 9;
    }

    .calendar{
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 10px;
    }

    .button{
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }
}

@media (max-width: 650px) {

    .content{
        padding: 40px;
        gap: 10px;

        .selectedHour{
           width: 300px;
           max-width: 100%;
        }

        .calendar{
           width: 300px;
           max-width: 100%;
        }

        .button{
           width: 300px;
           max-width: 100%;
           margin-top: 60px;
        }
    }
}