

.container{
    >img{
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
}

.change{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 460px;
    max-width: 100%;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 20px;

    .date{
        display: flex;
        flex-direction: column;

        >span{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .button{
        margin-top: 10px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .change{
        padding: 30px 40px;
    }
}