


.navPages{
    height: 100%;

    .list{
        display: flex;
        gap: 40px;
        height: 100%;

        .link{
            display: flex;
            align-items: center;
            font-size: 18px;
            padding: 10px 0;

            &.selected{
                a{
                    font-weight: 500;
                }
            }

            a{
                display: flex;
                align-items: center;
                position: relative;

                .linkVisible{
                    position: absolute;
                }
                .linkNotVisible{
                    font-weight: 500;
                    opacity: 0;
                }

                &:hover{
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .navPages{
        border-top: 1px solid black;
        font-weight: 400;

        .list{
            flex-direction: column;
            gap: 0px;
            margin: 10px 30px;
        }
    }
}